/*----------------------- Examples on hover
----------------------- */

a.subtle:hover {
  text-decoration: none;
}

a.subtle:hover .styling-a  {
  background: #AEC2BF url(images/specimens/texture-4.png) repeat 0 0;
  color: #fff;
  text-shadow: 0 -1px 10px rgba(0, 0, 0, 0.4), 3px -2px 6px rgba(255, 255, 255, 0.5);
}

a.subtle:hover .styling-b {
  background: #af1616 url(images/specimens/texture-5.png) repeat 0 0px;
  color: #e6e4c0;
  text-shadow: 0 -1px 6px rgba(255, 255, 255, 0.2);
  }
  
a.subtle:hover .styling-c {
  background: #7fef50 url(images/specimens/stripes-transparent.png) repeat 0 0;
  color: #333;
  text-shadow: 1px 0 6px rgba(255,255,255,.8);
  }

a.subtle:hover .styling-d {
  background: #999 url(images/specimens/texture-8.png) repeat 0 0;
  color: #444;
  text-shadow: 2px -2px 8px rgba(255,255,255,.7);
  }

a.subtle:hover .styling-e {
  background: #FAB738 url(images/specimens/stripes-vertical.png) repeat 0 0;
  color: #316f7b;
  text-shadow: -1px 1px 2px rgba(255,255,255,.6);
  }

a.subtle:hover .styling-f {
  background: transparent url(images/specimens/texture-6.png) repeat 0 0;
  color: #4d4231;
  text-shadow: 1px 0 3px rgba(255,255,255,.5);
  }


a.subtle:hover .styling-g {
  background: #b97a2c url(images/specimens/texture-7.png) repeat 0 0;
  color: #322620;
  text-shadow: 0 -1px 5px rgba(255,255,255,.5), -1px 1px 2px rgba(0,0,0,.7);
  }

/*----------------------- End Examples on Hover
----------------------- */

/*----------------------- Featured fonts
----------------------- */

#featured-fonts .element a.styling-a {
  background: #AEC2BF url(images/specimens/texture-4.png) repeat 0 0;
  color: #fff;
  text-shadow: 0 -1px 10px rgba(0, 0, 0, 0.4), 3px -2px 6px rgba(255, 255, 255, 0.5);
}

#featured-fonts .element a.styling-b {
  background: #af1616 url(images/specimens/texture-5.png) repeat 0 0;
  color: #e6e4c0;
  text-shadow: 0 -1px 6px rgba(255, 255, 255, 0.2);
  }

#featured-fonts .element a.styling-c {
  background: #7fef50 url(images/specimens/stripes-transparent.png) repeat 0 0;
  color: #333;
  text-shadow: 1px 0 6px rgba(255,255,255,.8);
  }

#featured-fonts .element a:hover,
#featured-fonts .element a:focus {
  background: #fff;
  color: #222;
  text-shadow: 0 0 0 transparent;
}
