

@font-face {
font-family: 'Muli-regular';
src: local('Muli-regular'), url('assets/extensions/muli/Muli-Regular.ttf') format('truetype');
}

@font-face {
font-family: 'Muli-light';
src: local('Muli-light'), url('assets/extensions/muli/Muli-Light.ttf') format('truetype');
}

/*Css for the widget 29' or id = '41' or id = '47' or id = '59' or id = '65' or id = '71' or id = '77' or id = '83' or id = '605' or id = '221' or id = '659' or id = '611' or id = '761' or id = '359' or id = '95' or id = '107' or id = '101' or id = '35' or id = '755' or id = '18' or id = '14' or id = '227' or id = '53 - homepage */


/*Css for the widget 29' or id = '41' or id = '47' or id = '59' or id = '65' or id = '71' or id = '77' or id = '83' or id = '605' or id = '221' or id = '659' or id = '611' or id = '761' or id = '359' or id = '95' or id = '107' or id = '101' or id = '35' or id = '755' or id = '18' or id = '14' or id = '227' or id = '53 - global_javascript */


/*Css for the widget 29' or id = '41' or id = '47' or id = '59' or id = '65' or id = '71' or id = '77' or id = '83' or id = '605' or id = '221' or id = '659' or id = '611' or id = '761' or id = '359' or id = '95' or id = '107' or id = '101' or id = '35' or id = '755' or id = '18' or id = '14' or id = '227' or id = '53 - reset_css */
/* http://meyerweb.com/eric/tools/css/reset/
 v2.0 | 20110126
 License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
 list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}



/*Css for the widget 29' or id = '41' or id = '47' or id = '59' or id = '65' or id = '71' or id = '77' or id = '83' or id = '605' or id = '221' or id = '659' or id = '611' or id = '761' or id = '359' or id = '95' or id = '107' or id = '101' or id = '35' or id = '755' or id = '18' or id = '14' or id = '227' or id = '53 - fonts_css */


/*Css for the widget 29' or id = '41' or id = '47' or id = '59' or id = '65' or id = '71' or id = '77' or id = '83' or id = '605' or id = '221' or id = '659' or id = '611' or id = '761' or id = '359' or id = '95' or id = '107' or id = '101' or id = '35' or id = '755' or id = '18' or id = '14' or id = '227' or id = '53 - oflb_css */
/* Text */

body {
  background: #e7d3b1 url(images/bg-00.png) repeat 0 0;
  font-family: 'PT Serif Regular', serif;
  font-size: 12px;
  line-height: 1.5em;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
  text-decoration: none;
  word-spacing: 0em;
  color: #502d16;
}

h3,
#information ul li.heading {
  text-transform: uppercase;
  font-size: 18px;
  font-family: 'PT Sans',sans-serif;
  font-weight: 600;
  letter-spacing: .1em;
  word-spacing: .2em;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5), 0 -1px 0 rgba(77, 46, 25, 0.6);
  color: #9f7c65;
  display: block;
  }

h3 {
  border-bottom: 1px solid #d8c4a1;
  padding: 6px 0;
  }

#font-page #content h3 {
  border-bottom: 0;
  margin: 10px 0 5px;
  }

#information h3 {
  border-top: 1px solid #d8c4a1;
  margin-bottom: 5px;
  }
  
#information h3 a {
  display: block;
  background: transparent url(images/sidebar-title-links.png) no-repeat right 0;
  color: #9f7c65;
  }

#information h3 a:hover,
#information h3 a:focus {
  background-position: right -41px;
  color: #4d2e19;
  }
  
h4 {
  margin: 10px 0 4px;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .1em;
  }

#font-page #content h4 {
  border-bottom: 1px solid #d8c4a1;
  padding: 0 0 5px;
  }
  
p { margin-bottom: 18px; }

.text {
  font-size: 1em;
  line-height: 1.5em;
}

.text { margin: 8px 0 25px; }

span.byline { text-transform: lowercase; font-style: italic; letter-spacing: 0.1em; }

.seventytwo { font-size: 72px; line-height: 1.5em; overflow: hidden; height: 108px; }

.thirtysix { overflow: hidden;}

.thirtysix .subtle { display: block; white-space: nowrap; overflow: hidden; margin: 0; padding: 14px 0 10px 10px; color: #222; font-size: 28px; line-height: 1.4em; }

a.subtle,
.thirtysix .subtle {
  white-space: nowrap;
}

.characters { font-size: 28px; line-height: 1.5em; }

#body em { font-family: 'PT Serif Italic', serif; }

#body p strong { font-family: 'PT Serif Bold', serif; }

span.highlight { font-family: 'PT Serif Bold', serif; color: #B7703E; }

span.faint { color: #aa998e; }

/* Links */

a:link, a:visited, a:active { color: #B7703E; text-decoration: none; }
a:hover { color: #4d2e19;}
a:focus { outline: 1px dotted #B7703E; }

a.subtle:link, a.subtle:visited, a.subtle:active { color: #222; }
a.subtle:hover, a.subtle:focus { color: #444; }

/* Forms */

form,
input,
textarea {
  font-family: 'PT Sans', sans-serif;
  }

form.preview {  
  background-color: #f1e5d1;
  padding: 10px 0;
  margin: 0 0 12px;
  }

form input[type="text"],
form textarea,
form input[type="password"],
input[type="text"], textarea, input[type="password"] {
  display: block;
  border: 1px solid #d8c4a1;
  padding: 8px 2px;
  font-size: 1.2em;
  color: #B7703E;
  background-color: #fff;
  }
  
  .fonts form.preview input[type="text"],
  .catalogue form.preview input[type="text"] {
    width: 99%;
  }
  
  #dynamic input[type="text"] {
    font-size: 72px;
    width: 100%;
    }

form label {
  display: inline-block;
  text-transform: uppercase;
  margin: 0 5px 0 0;
  letter-spacing: 0.1em;
  }

form input[type="text"]:focus,
form textarea:focus {
  color: #4d2e19;
  outline: 0;
  box-shadow: inner 0 0 3px #bc9c87;
  -moz-box-shadow: inset 0 0 3px #bc9c87;
  -webkit-box-shadow: inset 0 0 3px #bc9c87;
  }

form.questionnaire .fields .field {
  margin-bottom: 18px;
}

form.questionnaire .fields {
  clear: both;
}
  
form.questionnaire .fields .field label {
  display: block;
  margin: 0 0 5px; 
}


form.questionnaire input[type='text'], form.questionnaire input[type='password'], form.questionnaire input[type='file']  {
  width: 98%;
}

form.questionnaire select {
  width: 100%;
  color: #B7703E;
}

form.questionnaire input:focus, 
form.questionnaire textarea:focus, 
form.questionnaire select:focus { outline: none; }

form.questionnaire input.settled {
}

form.questionnaire input.settled:focus {
}

form.questionnaire textarea {
  resize: none;
  width: 100%;
  height: 72px;
  font-size: 12px;
  color: #502d16;
}


/* Buttons */

input[type="submit"].button,
#information a.sign-up,
.pagination a,
a.pusher,
a.cancel,
a.btn {
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .1em;
  text-shadow: 1px -1px 1px rgba(77,46,25,.5), -1px 1px 1px rgba(178,117,77,.7);
  border: 0;
  display: inline-block;
  background: #9f7c65;
  color: #fff;
  padding: 6px 15px;
  margin: 0 5px 0 0;
  text-align: center;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(77,46,25,.4);
  -moz-box-shadow: 1px 1px 2px rgba(77,46,25,.4);
  -webkit-box-shadow: 1px 1px 2px rgba(77,46,25,.4);
  }

input[type='submit'].button:hover,
#information a.sign-up:hover,
.pagination a:hover,
a.pusher:hover {
  background: #4d2e19;
  cursor: pointer;
}

a.cancel,
a.btn {
  background-color: #E7D3B1;
  color: #9f7c65;
  text-shadow: 1px -1px 1px rgba(255,255,255,.5);
  }
  
a.cancel:hover,
a.cancel:focus,
a.btn:hover,
a.btn:focus {
  background: #9f7c65;
  color: #fff;
  text-shadow: 1px -1px 0px rgba(77,46,25,.5);
  }

input[type='submit'].button:focus {
  background: #aa998e;
}

p.submit {
  text-align: center;
  }
  
#more {
  clear: both;
  }

.pagination {
  overflow: auto;
  padding: 5px 5px 5px 0;
  position: relative;
  }
  
  .one-column .pagination {
    margin-right: 30px;
    }

.homepage .pagination {
  text-align: center;
  margin-right: 30px;
  }

.pagination span {
  float: right;
  }
  
.pagination span#morefonts {
  float: left;
  padding: 8px 0 0;
  margin: 0 5px 0 0;
  color: #9F7C65;
  }

.pagination a {
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  margin: 0 0 0 5px;
  }

#font-page #information p > a.pusher {
  padding: 12px 15px;
  display: block;
}

/* Structure */

html, body { height: 100%;  }
#textblock { min-height: 100%;  position: relative; width: 100%; margin: 0 auto; }

#head {
  background-color: #4d2e19;
  clear: both;
  z-index: 4600;
  }

#head-wrapper {
  margin: 0 auto;
  overflow: hidden;
  width: 960px;
  position: relative;
  }

#head ul.primary {
  float: left;
  }

#head ul.secondary {
  position: absolute;
  top: 0;
  right: 1px;
  }
  
#body { max-width: 960px; clear: both; padding: 25px 0 40px; overflow: auto; background-color: #f1e5d1; }
#foot { max-width: 900px; padding: 0 30px 15px; overflow: auto; border-top: 1px solid #D8C4A1; background: #E7D3B1 url(images/bg-00.png) repeat 0 0; }

.spec { clear:both;}
.display { margin-bottom: 35px;}
.element { clear: both; margin-bottom: 10px; display: block; }

#content .element {
  margin: 0 0 10px;
  }

#content .fonts .element {
  background-color: #fff;
  position: relative;
  border-right: 1px solid #E7D3B1;
  box-shadow: inner 1px 1px 3px #bc9c87;
  -moz-box-shadow: inset 1px 1px 3px #bc9c87;
  -webkit-box-shadow: inset 1px 1px 3px #bc9c87;
  }

#content .fonts #featured-slide .element {
  border: 0;
  box-shadow: 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 transparent;
  -webkit-box-shadow: 0 0 0 transparent;
  }

.details { display: block; }

/* Lists */

ul.secondary { color: #aa998e; }
ul.secondary li.major:after{ display: none; }
ul.secondary li { display: inline-block; }
dl.info dt { clear: both; float:left; margin-right: 0.5em; font-family: 'PT Serif Bold', serif; }
dl.main  {  margin-bottom: 18px; }
dl.main dd { margin-bottom: 18px; }

dl dd ul { margin-left: 1em; }


#head ul.primary li,
#head ul.secondary li {
  vertical-align: bottom;
  font-family: 'Muli-regular', 'Deja vu', Arial, sans-serif;
  }

#head ul.primary li {
  padding: 0 0 8px;
  }
  
#head ul.primary li a,
#head ul.secondary li a {
  margin: 0;
  font-size: 11px;
  line-height: 1;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: .05em;
  padding: 29px 5px 13px;
  color: #F1E5D1;
  text-shadow: 0 -1px 1px #2d1c11, -1px 0 1px #644027;
  }
  
#head ul.primary li a {  
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

  #head ul.secondary li#lang a {
    margin: 0;
    font-size: 12px;
    line-height: 1.2em;
    display: block;
    text-transform: none;
    letter-spacing: 0;
    padding: 0;
    color: #502D16;
    text-shadow: 0 0 0 transparent;
    }

    
#head ul.primary li a:hover,
#head ul.secondary li a:hover {
  color: #9F7C65;
  }

#head ul.primary li a.active {
  background-color: #6e4429;
  }

#head ul.primary #oflb-logo a {
  margin: 0 5px 0 0;
  padding: 25px 5px 13px 46px;
  font-size: 13px;
  color: #fff;
  font-family: 'Muli-light', 'Deja vu', Arial, sans-serif;
  background: transparent url(images/oflb.png) no-repeat 0 13px;
  }

#head ul.secondary li {
  margin-left: 2px;
  }

#head ul.secondary li#lang,
#head ul.secondary li.search {
  margin-top: 20px;
  vertical-align: top;
  }

#head ul.secondary .search input {
  display: inline-block;
  float: none;
  vertical-align: middle;
  }

#head ul.secondary .search input[type="text"] {
  width: 160px;
  padding: 5px 2px;
  margin: 0;
  font-size: 95%;
  border: 0;    
  -webkit-border-top-left-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-bottomleft: 2px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  }

#head ul.secondary .search input[type="text"]:focus {
  color: #4d2e19;
  }

/* Start -- Reset webkit input styles */
input[type=search] {
	-webkit-appearance: none;
}

input[type="search"]::-webkit-search-decoration, 
input[type="search"]::-webkit-search-cancel-button {
	display: none;
}
/* ------------------- End
*/

input[type="text"].placeholder {
  color: #cab187;
}

input[type="text"]::-webkit-input-placeholder {
  color: #cab187;
}

input[type="text"]:-moz-placeholder {
	color: #cab187;
}

#head ul.secondary .search .search-button {
  width: 25px;
  padding: 25px 0 0;
  height: 0;
  overflow: hidden;
  background: #d8c4a1 url(images/search.png) no-repeat center 5px;
  border: 0;
  -webkit-border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomright: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  
  }
  
  .gecko #head ul.secondary .search .search-button {
    padding: 26px 0 0;
    }

#foot {
  font-family: 'PT Sans',sans-serif;
  text-transform: uppercase;
  letter-spacing: .1em;
  }

#foot p.logo {
  text-align: center;
  margin: 10px 0 15px;
  }

#foot p.logo a {
  display: inline-block;
  padding: 7px 0 8px 35px;
  font-size: 13px;
  line-height: 1;
  letter-spacing: .1em;
  text-transform: uppercase;
  font-family: 'Muli-light', 'Deja vu', Arial, sans-serif;
  background: transparent url(images/oflb-footer.png) no-repeat 0 0;
  }

#foot p.logo a:hover {
  background-position: 0 -43px;
  }

#foot ul {
  margin: 0;
  display: block;
  text-align: center;
  }

#foot ul.primary {
  padding: 0 0 10px;
  }
  
#foot ul li {
  display: inline-block;
  background: transparent url(images/list-bullet.png) no-repeat 0 center;
  padding: 0 0 0 10px;
  }
  
  #foot ul.primary li {
  }  
    
  #foot ul li:first-child {
    background-image: none;
    padding: 0;
  }

#foot ul li a {
  padding: 0 5px 0 0;
  }

#foot #patrons {
  padding: 30px 30px 0;
  margin: 0 -30px;
  background: #F1E5D1;
  line-height: 1;
  text-align: center;
  border-top: 1px solid #D8C4A1
  }

#foot #patrons p {
  margin: 30px -30px 0;
  padding: 0;
  color: #9F7C65;
  background-color: #ddc49c;
  overflow: auto;
  }

#foot #patrons p span {
  padding: 10px;
  display: inline-block;
  width: 690px;
  }

#foot a#donate-btn {
  color: #fff;
  padding: 10px;
  display: inline-block;
  border-left: 1px solid #D8C4A1;
  font-weight: bold;
  width: 229px;
  background-color: #c84545;
  }

#foot a#donate-btn:hover,
#foot a#donate-btn:focus {
  background-color: #c83737;
  outline: 0;
  }


#foot #patrons ul {
  text-align: center;
  background: #F1E5D1;
  }

#foot #patrons li {
  background-image: none;
  display: inline-block;
  margin: 0 0 0 30px;
  vertical-align: middle;
  }

#foot #patrons li:first-child {
  margin: 0;
  }
  
#foot #patrons li a {
  background-image: url(images/oflb-patrons.png);
  background-repeat: no-repeat;
  display: inline-block;
  text-indent: -1000px;
  vertical-align: middle;
  overflow: hidden;
  }

#foot #patrons li.fabricatorz a {
  background-position: 0 0;
  width: 154px;
  height: 16px;
  }
  
  #foot #patrons li.fabricatorz a:hover {
  background-position: 0 -80px;
  }

#foot #patrons li.mozilla a {
  background-position: -182px 0;
  width: 53px;
  height: 50px;
  }
  
  #foot #patrons li.mozilla a:hover {
  background-position: -182px -80px;
  }

#foot #patrons li.river-valley a {
  background-position: -265px 0;
  width: 66px;
  height: 50px;
  }
  
  #foot #patrons li.river-valley a:hover {
  background-position: -265px -80px;
  }

#foot #patrons li.tug a {
  background-position: -362px 0;
  width: 39px;
  height: 50px;
  }
  
  #foot #patrons li.tug a:hover {
  background-position: -362px -80px;
  }

#foot #patrons li.yes-logic a {
  background-position: -431px 0;
  width: 77px;
  height: 17px;
  }
  
  #foot #patrons li.yes-logic a:hover {
  background-position: -431px -80px;
  }

#foot #patrons li.understanding-fonts a {
  background-position: -537px 0;
  width: 26px;
  height: 26px;
  }
  
  #foot #patrons li.understanding-fonts a:hover {
  background-position: -537px -80px;
  }

#foot ul.secondary {
  float: none;
  padding: 10px 0;
  display: block;
  font-size: 10px;
  }

#foot ul.secondary li {
  padding: 0 8px 0 12px;
  }

#foot ul.secondary li a {
  padding: 0;
  }

#foot p img {
  display: inline-block;
  margin: 0 5px 0 0;
  }

.element ul.primary {
  font-size: 0.9em;
  text-transform: none;
  line-height: 1;
  display: block;
  font-family: 'PT Sans', sans-serif;
  }

ul.primary li { display: inline-block; vertical-align: middle;}
ul.primary strong { color: #502d16 }

ul li.heading {
  color: #502d16;
  }

#content .element ul li.heading {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.12em;
  line-height: 1;
  }
  
  #featured-fonts .element ul.primary .heading {
  letter-spacing: 0;
  }
  
  #catalogue-word .element ul li.heading {
  width: 120px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  }
  
  #catalogue-word .element ul li.styles,
  #catalogue-sentence .element ul li.styles,
  #catalogue-paragraph .element ul li.styles {
    float: right;
  }

.fonts .element ul.primary {
  background: #e7d3b1;
  color: #B7703E; 
  }

.fonts .element ul.primary li {
  padding: 4px 2px;
  }

.element ul.primary a {
  display: inline-block;
  padding: 0 2px;
  }

.element ul.primary a:hover,
.element ul.primary a:focus {
  color: #4d2e19;
  }

#content .fonts .element ul.primary li.author {
  float: right;
  text-align: right;
  width:  220px;
  text-clip: ellipsis;
  white-space: nowrap;
  }
  
/* Catalogue */

ul#catalogue-views {
  margin: 0 0 15px;
  }
  

ul#catalogue-views li,
.catalogue .order-catalogue li {
  display: inline-block;
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: .05em;
  }

ul#catalogue-views li {
  margin: 0 15px 0 0;
  }

ul#catalogue-views li strong,
.catalogue .order-catalogue li strong {
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  }

ul#catalogue-views li a {
  padding: 0 0 5px 26px;
  display: inline-block;
  background: transparent url(images/catalogue-views.png) no-repeat 0 0;
  }

ul#catalogue-views li a.active,
ul#catalogue-views li a:hover,
.catalogue .order-catalogue li a.active,
.catalogue .order-catalogue li a:hover {
  color: #4d2e19;
  }

ul#catalogue-views li.word a {
  background-position: 0 -39px;
  }

ul#catalogue-views li.word a.active,
ul#catalogue-views li.word a:hover {
  background-position: 0 0;
  }

ul#catalogue-views li.sentence a {
  background-position: 0 -117px;
  }

ul#catalogue-views li.sentence a.active,
ul#catalogue-views li.sentence a:hover {
  background-position: 0 -78px;
  }

ul#catalogue-views li.paragraph a {
  background-position: 0 -195px;
  }

ul#catalogue-views li.paragraph a.active,
ul#catalogue-views li.paragraph a:hover {
  background-position: 0 -156px;
  }

#catalogue-filters {
  margin: 0 30px 15px 0;
  clear: both;
  overflow: auto;
  padding: 5px 0;
  border-top: 1px solid #D8C4A1;
  border-bottom: 1px solid #D8C4A1;
  background: #eedcbf;
  }

#catalogue-filters p {
  display: block;
  float: left;
  margin: 0 15px 0 0;
  padding: 4px 0 4px 5px;
  }
  
  #catalogue-filters p strong {
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: .05em;  
  font-weight: bold;
  }

#catalogue-filters fieldset {
  margin: 0 15px 0 0;
  padding: 0;
  display: block;
  float: left;
  }

#catalogue-filters label {
  vertical-align: middle;
  display: inline-block;
  margin: 0 2px 0 0;
  }
  
  #catalogue-filters .ui-dropdownchecklist label {
    display: inline-block;
    text-transform: none;
    }

#catalogue-filters input.button {
  padding: 3px 10px;
  font-size: 12px;
  
  box-shadow: 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 transparent;
  -webkit-box-shadow: 0 0 0 transparent;
}

#preview-options {
  overflow: auto;
  }

#preview-options form.preview {
  background: transparent;
  padding: 0;
  width: 534px;
  margin-right: 10px; 
  float: left;
  }
  
#preview-options ul {
  float: left;
  width: 356px;
  }

#preview-options li {
  vertical-align: middle;
  display: inline-block;
  }
  
#preview-options #colorSelector {
  position: relative;
  overflow: auto;
  width: 38px;
  height: 32px;
  margin: 0 20px 0 0;
  }

#preview-options #colorSelectorFG,
#preview-options #colorSelectorBG {
  display: block;
  position: absolute;
 }

#preview-options #colorSelectorFG {
  top: 0;
  left: 0;
  z-index: 30000;
  background-color: #F1E5D1;
 }

#preview-options #colorSelectorBG {
  bottom: 0;
  right: 0;
 }
  
#colorSelectorFG {
	position: relative;
	width: 22px;
	height: 22px;
	border: 1px solid #BC9D88;
}

#colorSelectorFG div {
	position: absolute;
	top: 1px;
	left: 1px;
	width: 20px;
	height: 20px;
	background-color: #F1E5D1;
}

#colorSelectorBG {
	position: relative;
	width: 22px;
	height: 22px;
	border: 1px solid #BC9D88;
}

#colorSelectorBG div {
	position: absolute;
	top: 1px;
	left: 1px;
	width: 20px;
	height: 20px;
	background-color: #F1E5D1;
}

#font-size {
  padding: 0 15px;
  position: relative;
  background: transparent url(images/slider-ref.png) no-repeat left center;
}
  
#slider {
  margin: 10px;
  width: 235px;
}

#information form input[type="text"] {
  font-size: 100%;
  border: 1px solid #D8C4A1;
  padding: 4px 2px;
  display: block;
  width: 98%;
  }

#content #catalogue-word,
#content #catalogue-sentence,
#content #catalogue-paragraph {
  clear: both;
  overflow: auto;
  }
  
#content #catalogue-word .element {
  width: 171px;
  float: left;
  clear: none;
  margin: 0 10px 20px 0;
  }

#content #catalogue-word .subtle {
  font-size: 48px;
  }
  
#content #catalogue-sentence .element {
  margin: 0 30px 10px 0;
  }

#content #catalogue-paragraph .element {
  width: 216px;
  float: left;
  clear: none;
  margin: 0 10px 20px 0;
  }

#content #catalogue-paragraph .subtle {
  font-size: 12px;
  line-height: 1.4em;
  height: 250px;
  max-height: 250px;
  padding-top: 18px;
  padding-right: 10px;
  }
  
#content #catalogue-paragraph .thirtysix > .subtle {
  white-space: normal;
  word-wrap: word-break;
  margin: 10px;
  max-width: 450px;
  }

#content #catalogue-paragraph a.subtle {
  white-space: normal;
  }
  
#content #catalogue-paragraph .element ul.primary {
  margin: 0;
  }

/* Homepage */

#featured-fonts {
  margin: 0 auto 30px;
  }

#featured-fonts #featured-slide {
  overflow: hidden;
  height: 180px;
  display: block;
  border: 6px solid #fff;
}

#featured-fonts .element {
  display: block;
  clear: both;
  margin: 0;
  height: 180px;
  width: 100%;
  }

#featured-fonts .element ul.primary {
  background-color: #fff;
  padding: 10px 0 10px 10px;
  margin: 0;
  text-align: center;
  }

#featured-fonts .element ul.primary li {
  padding: 0;
  vertical-align: center;
  }

#featured-fonts .element ul.primary li a {
  background-color: transparent;
  padding: 0;
  }
  
#featured-fonts .element ul.primary li.author {
  float: none;
  }

#featured-fonts .thirtysix,
#featured-fonts .thirtysix .subtle {
  font-size: 32px;
  line-height: 1.4em;
  padding: 0;
  display: block;
  text-align: center;
  }

#featured-fonts .thirtysix {
  max-height: 103px;
  min-height: 103px;
  padding: 25px 20px 20px;
  }

#featured-fonts .thirtysix .subtle {
  padding: 0;
  white-space: normal;
  }

.jshowoff-slidelinks {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: .1em;
  background-color: #E7D3B1;
  padding: 2px 0 0;
  border-bottom: 1px solid #fff;
  }

.jshowoff-slidelinks a {
  display: inline-block;
  padding: 6px 10px;
  }
  
  .jshowoff-slidelinks a:first-child {
    background-image: none;
    }
    
.jshowoff-slidelinks a.jshowoff-active {
  color: #c83737;
  background-color: #fff;
  }

.jshowoff-slidelinks a:hover {
  color: #4d2e19;
  }

h2 {
  font-size: 24px;
  text-align: center;
  margin: 0 30px 10px;
  text-shadow: 0 -1px 1px #9f7c65, -1px 0 0 #644027;
  line-height: 1;
  }

h2:before,
h2:after {
  content: " ";
  display: inline-block;
  height: 18px;
  width: 20px;
  background: transparent url(images/title-bullet.png) no-repeat center center;
  }

.homepage #information { padding-top: 45px; }

#information .spec {
  margin: 9px 0 28px;
  }
  
#information .spec p {
  margin-bottom: 8px;
  }

#information .spec ul {
  margin: 0 0 8px;
  }
  
#information .spec li {
  margin: 0 0 2px;
  }

#information .spec li a.active {
  color: #c83737;
  }

#information .spec li strong {

  }

#information dl {
  margin: 0 0 15px;
  }

#information code {
	font-family: Monaco, Consolas, 'Andale Mono', 'DejaVu Sans Mono', monospace;
	background: #fff;
	padding: 10px 5px;
	display: block;
	font-size: 11px;
	line-height: 1.4em;
	margin: 0 0 15px;
	word-wrap: break-word;
  }

#information dl.numbers {
  color: #9F7C65;
  }

#information dl.numbers dt {
  float: left;
  clear: both;
  width: 130px;
  padding: 5px 0;
  font-family: 'PT Serif Bold',serif;
  }

#information dl.numbers dd {
  padding: 5px 0;
  border-top: 1px solid #E7D3B1;
  text-align: right;
  }
  
  #information dl.numbers dd:first-child {
    border-top: 0;
    }


/* Font page */

#font-page #content,
#font-page #information {
  padding-top: 15px;
  }

ul#font-variants {
    text-align: center;
    padding: 0 30px;
  }

ul#font-variants li {
    margin: 0 8px;
    display: inline-block;
    font-family: 'PT Sans',sans-serif;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
  
#font-page #preview-options {
  margin-bottom: 15px;
  }

#font-page #preview-options form.preview,
#font-page #preview-options #text-preview {
  width: 522px;
  margin: 0 20px 0 0;
  }

#font-page #preview-options ul {
  width: 38px;
  }

#font-page #preview-options #colorSelector {
  margin: 0;
  }
  
#font-page .element {
  margin: 0 0 20px;
  }
  
#font-page .waterfall {
  margin: 0 0 10px;
  clear: both;
  padding: 0;
  background: #fff;
  position: relative;
  border-right: 1px solid #E7D3B1;
  box-shadow: inner 1px 1px 3px #bc9c87;
  -moz-box-shadow: inset 1px 1px 3px #bc9c87;
  -webkit-box-shadow: inset 1px 1px 3px #bc9c87;
  }

#font-page .waterfall li {
  list-style-type: none;
  padding: 12px 0 14px 12px;
  }

#font-page .waterfall li.thirtysix {
  overflow: visible;
  }

#font-page .waterfall li span {
  line-height: 1.2em;
  }

#font-page span.font-size-indice {
  color: #9F7C65;
  display: block;
  float: left;
  text-align: right;
  width: 20px;
  margin-left: -35px;
  font-size: 11px;
  }
  
  #font-page .waterfall .font-size-indice {
    margin-left: -35px;
    }
    
    #font-page .paragraph .font-size-indice {
      margin-left: -25px;
      }

#font-page .waterfall li.thirtysix span.subtle {
  color: #222;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  padding: 0;
  }

#font-page .fontsize-36 .subtle {
  font-size: 36px;
  }

#font-page .fontsize-30 .subtle {
  font-size: 30px;
  }

#font-page .fontsize-24 .subtle {
  font-size: 24px;
  }

#font-page .fontsize-18 .subtle {
  font-size: 18px;
  }

#font-page .fontsize-16 .subtle {
  font-size: 16px;
  }

#font-page .fontsize-14 .subtle {
  font-size: 14px;
  }

#font-page .fontsize-12 .subtle {
  font-size: 12px;
  }

#font-page .fontsize-10 .subtle {
  font-size: 10px;
  }

#font-page .charmap {
  font-size: 42px;
  line-height: 1.2em;
  overflow: auto;
  margin: 0 0 10px;
  }

#font-page .charmap span {
  min-width: 1em;
  margin: 5px 0;
  display: block;
  float: left;
  text-align: center;
  color: #222;
  }
  
#font-page .element .paragraph div {
  overflow: auto;
  }

#font-page .paragraph .subtle {
  margin: 0;
  width: 250px;
  display: block;
  float: left;
  background-color: #fff;
  color: #222;
  padding: 10px 20px;
  clear: both;
  }
  
  #font-page .paragraph .dark {
  background-color: #222;
  color: #fff;
  clear: none;
  }

/* Translation interface */

#translation-menu {
  border-top:1px solid #D8C4A1;
  padding: 5px 0;
  margin: 0 0 10px;
  }

#translation-menu label {
  margin: 0 5px 0 30px;
  }
  
  #translation-menu label:first-child {
    margin: 0;
    }

#translation {
  margin: 0 0 30px;
  }

#translation table {
  background: #fff;
  width: 100%;
  border: 0;
	margin: 0 0 20px 0;
	border-collapse: collapse;
	clear: both;
	line-height: 1.2em;
	text-align: left;
  }
  
#translation thead {
  background-color: #E7D3B1;
  font-family: 'PT Sans',sans-serif;
  letter-spacing: .1em;
  text-transform: uppercase;
  font-weight: bold;
  }


#translation th,
#translation td {
  vertical-align: top;
  }
  
#translation .context {
  width: 180px;
  }

#translation .original-string,
#translation .translated-string {
  width: 340px;
  }

#translation th.context,
#translation th.original-string {
  padding: 10px 15px 10px 10px;
  }

#translation td.context,
#translation td.original-string {
  padding: 8px 15px 8px 10px;
  }

#translation th.translated-string {
  padding: 10px 5px 10px 10px;
  }
  
#translation td.translated-string {
  padding: 5px;
  }

#translation tr.odd {
  background: #fff;
  }

#translation tr.even {
  background: #f9f1e5;
  }

#translation table input[type="text"],
#translation table textarea {
  border-top: 0;
  border-bottom: 0;
  font-size: 100%;
  padding: 2px;  
	line-height: 1.2em;
  }

#translation table textarea {
  width: 100%;
  }

#translation table input[type="text"] {
  width: 100%;
  }
  
#translation table tr.even input[type="text"] {
    background: #f9f1e5;
    }

#translation table input[type="text"]:hover,
#translation table textarea:hover {
  cursor: pointer;
  }

#translation table#translation .translated-string:hover {
  }
    
#translation table input[type="text"]:focus,
#translation table textarea:focus {
  background: #fff !important;
  }  

/* Media Query */

/*
@media (min-width: 600px) {

  ul.primary { padding: 0;}
  ul.primary li { display: inline-block;}
  ul.primary li.major { margin-left: 0em; }
  
}

@media (max-width: 450px) {
  .thirtysix { font-size: 18px; height: 27px; }
  #featured-fonts #featured-slide {
  width: 450px;
  }
}
*/

@media (max-width: 960px) {

  #content { width: 67.1052632%; float: left; }
  #information { width: 29.7368421%; float: right; }
  
  #head-wrapper {
    width: 100%;
    }
}

@media (min-width: 960px) {

  #textblock{ max-width: 960px; margin: 0 auto;}
  #content{ width: 580px; float: left; padding: 0 30px; }
  .one-column #content { width: 930px; float: none; padding: 0 0 0 30px;}
  .one-column #content #font-page { margin-right: 30px;}
  #information { width: 280px; float: right; padding: 0 30px 0 10px; }
  
  #head-wrapper {
    max-width: 960px;
  }
  
  #featured-fonts {
  width: 900px;
  }
  
  #featured-fonts #featured-slide {
  width: 888px;
  margin: 0 auto;
  }
}

@media (max-width: 750px) {

  #head ul.secondary .search input[type="text"] {
    width: 120px;
    }

}

@media (max-width: 705px) {
  
  #body {}
  #foot {}
  
  body {
    min-width: 400px;
    }
  
  ul { text-align: center; }
  dl { text-align: center; }
  
  #featured-fonts {
    margin: 0 auto 20px;
  }
  
  #featured-fonts #featured-slide {
    width: 99.2%;
    border: 2px solid #FFFFFF;
  }
  
  #featured-fonts .thirtysix {
    font-size: 28px;
    line-height: 1.2em;
    padding: 40px 0 20px;
  }
  
  #featured-fonts .thirtysix > span {
    margin: 0 10px;
    white-space: normal;
  }
  
  #featured-fonts a.subtle,
  #featured-fonts .thirtysix .subtle {
    white-space: normal;
    height: 68px;
  }
  
  #featured-fonts #featured-slide,
  #featured-fonts .element {
    height: 158px;
  }
  
  #head ul.primary,
  #head ul.secondary {
    display: block;
    overflow: hidden;
  }
  
  #head ul.primary {
    margin-top: 40px;
    float: none;
  }
  
  #head ul.primary #oflb-logo {
    display: block;
    text-align: center;
    padding: 10px 0 6px;
  }
  
  #head ul.primary li {
    padding: 0;
  }
  
  #head ul.primary li a, #head ul.secondary li a {
    padding: 10px 4px;
    margin: 0 4px;
  }
  
  #head ul.primary li:first-child a, #head ul.secondary li:first-child a {
    margin: 0;
  }
  
  #head ul.primary li a {
    -webkit-border-radius: 0px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius: 0px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-radius: 0px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
  
  #head ul.secondary {
    margin: 0;
    padding: 8px 0 2px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #9f7c65;
  }
  
  #head ul.secondary li#lang, #head ul.secondary li.search {
    margin-top: 0;
  }
  
  .element ul.primary,
  #information .spec ul,
  #catalogue-views {
    text-align: left;
  }
  
  #foot #patrons {
    padding: 15px 30px 0;
  }
  
  #foot #patrons li, #foot #patrons li:first-child {
    margin: 15px 0;
  }
  
  #foot #patrons p {
    margin: 15px -30px;
  }
  
  #foot #patrons p span,
  #foot a#donate-btn {
    padding: 10px 5px;
    display: block;
    width: auto;
  }
  
  #content #catalogue-word .element {
    width: 154px;
  }

  dl.info dt { float: none; text-align: center; }
  dl.info dt:after{ content: ""; }
  dl.info dd { margin-bottom: 18px; }

  ul.primary li.secondary { display: none; }
  
  #dynamic input[type=text] {  font-size: 28px; text-align: center; }
  #dynamic { display: none; }
  
  .seventytwo { font-size: 28px; text-align: center; height: 54px; }
  .thirtysix { text-align: center; }
  
  #content{ width: 100%; float: none;  }
  #information { width: 100%; float: none;  }

  input[type='submit'].button { float: none; }

  .button { width: 150px; text-align: center; margin: 0 auto; }
  
}


/* Integrating specimen-style */

.thirtysix .styling-a  {
  background: #AEC2BF url(img/specimens/texture-4.png) repeat 0 0;
  color: #fff;
  text-shadow: 0 -1px 10px rgba(0, 0, 0, 0.4), 3px -2px 6px rgba(255, 255, 255, 0.5);
}


/* styles bottom */

/* required to avoid jumping */
#styles-bottom { 
  left: 640px;
  position: absolute;
  overflow: auto;
}

#styles-bottom #styles-wrap {
  position: fixed;
  width: 280px;
  background: #E7D3B1;
  bottom: 0;
  padding: 5px 0;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

#styles-bottom .font-styles {
  padding: 0 12px;
}

#styles-bottom #hide-nav {
  display: block;
  cursor: pointer;
  background: transparent url(../assets/images/colapse.png) no-repeat 5px center;
  padding: 3px 5px 3px 17px;
  margin: 0;
  border-bottom: 1px solid #D8C4A1;
}

