.tipsy {
padding: 5px;
font-size: 10px;
background-repeat: no-repeat;
background-image: url(../images/tipsy.png);
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.tipsy-inner {
padding: 8px;
background-color: #4d2e19;
color: white;
max-width: 200px;
text-align: center;
line-height: 1.2;

border-radius: 3px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
}

.tipsy-inner strong {
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-weight: bold;
}

.tipsy-north {
background-position: top center;
}

.tipsy-south {
background-position: bottom center;
}

.tipsy-east {
background-position: right center;
}

.tipsy-west {
background-position: left center;
}
